body {
  margin: 20px;
  padding: 0px;
  font-family: sans-serif;
  /*text-align: center;*/
}

.conversations {
  width: 600px;
  height: 500px;
  overflow: scroll;
  border: 1px gray solid;
}

.translation {
  color: blue;
}

.columns {
   column-count: 2;
   column-gap: 10px;
}

.infoColumn {
  width: 600px;
  column-count: 6;
  column-gap: 10px;
  /*background-color: black;*/
  /*padding: 20px;*/
  /*color: white;*/
  text-align: center;
  /*border: 1px dashed gray;*/
}
.analysisBlock{
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  /*border: 1px dashed gray;*/
}
.textColumn {
  width: 600px;
  column-count: 6;
  column-gap: 10px;
  /*background-color: black;*/
  padding: 0px;
  /*color: white;*/
  text-align: center;
}
 .reportHeader {
   font-size: 1.3em;
   padding-top: 10px;
 }

 .neutral {
   display: inline;
 }

.positive {
  color: #1F8605;
  display: inline;
}
.negative {
  color: #DC2504;
  display: inline;
}
