body {
  margin: 20px;
  padding: 0px;
  font-family: sans-serif;
}

.conversations {
  width: 600px;
  height: 500px;
  overflow: scroll;
  border: 1px gray solid;
}

.columns {
   column-count: 2;
   column-gap: 10px;
}

.infoColumn {
  width: 600px;
  column-count: 6;
  column-gap: 10px;
  text-align: center;
}
.analysisBlock{
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.textColumn {
  width: 600px;
  column-count: 6;
  column-gap: 10px;
  padding: 0px;
  text-align: center;
}

.reportHeader {
   font-size: 1.3em;
   padding-top: 10px;
 }

 .speaker {
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 2px;
 }
.neutral {
   display: inline;
   font-weight: normal !important;
 }
.positive {
  color: #1F8605;
  display: inline;
  font-weight: normal !important;
}
.negative {
  color: #DC2504;
  display: inline;
  font-weight: normal !important;
}
.translation {
  color: blue;
  font-weight: normal !important;
}
